.product {
  display: flex;
  flex-direction: row;
  /* border: 1px solid var(--tg-theme-button-color); */
  /* padding: 15px; */
  width: 50%;
}

.img {
  width: 50%;
  background: lightgray;
  /* height: 100px; */
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.description {
  font-size: 0.8em;
  color: black;
}

.add-btn {
  width: 100%;
}
.img_img{
  max-width: 100%;
}
